<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/5367/production/_99315312_nasa.jpg"
    alt="marte image"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Novas imagens de marte</a></h1>
  </div>
  <div class="big-card__text">
    <p>
      <a href="#">
      Nessa manha foram divulgadas novas imagens do planeta vermelho marte em ultra hd 4k, mostrando que já existiu vida no planeta irmão da terra.
      </a>
    </p>

  </div>
</div>
