.container__content{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.container__cover img{
  width: 400px;
  height: auto;
  border: 2px gray solid;
}
